# THIS FILE IS MANAGED BY PUPPET
[Unit]
Description=hyperglass looking glass server
After=network.target
Requires=rh-redis5-redis.service

[Service]
User=hyperglass
Group=hyperglass
WorkingDirectory=/opt/hyperglass/hyperglass-server
ExecStart=/opt/hyperglass/hyperglass-server/virtualenv/bin/python3 /opt/hyperglass/hyperglass-server/virtualenv/bin/hyperglass start
PrivateTmp=true

[Install]
WantedBy=multi-user.target
